<header>
    <app-navigation-menu></app-navigation-menu>
</header>
<section id="info">
    <div id="event-basic-info">
        <h1>Vibrações Urbanas</h1>
        <h2>Supra Bar Vila Madalena</h2>
        <div id="date-time">
            <p>Domingo, 19/11/2023, das 17h às 01h</p>
        </div>
    </div>
    <div id="purchase-ticket">
        <h1>Ingressos a partir de: R$10</h1>
        <p>pague com pix</p>
        <a href="/evento/vibracoes-urbanas/#batches"><button>COMPRAR INGRESSOS</button></a>
        <a href="/evento/vibracoes-urbanas/#batches">ver lotes</a>
    </div>
</section>
<section id="description">
    <div>
        <p>
            Se você está procurando por algo completamente diferente, 
            prepare-se para uma revolução musical na Vila Madalena!
        </p>
        <br>
        <p>
            Nossa festa temática no estilo underground é uma celebração 
            da cultura do rap, hip-hop, Black music, Afrobeat, Techno e músicas dos anos 2000.
        </p>
    </div>
    <div>
        <h1>ATRAÇÕES ESPECIAIS</h1>
        <ul>
            <li>
                <b>Caroline Soares e Bizuzo:</b>
                <p>
                    Dois dançarinos de dança urbana que irão 
                    energizar a pista de dança com seus movimentos impressionantes.
                </p>
            </li>
            <li>
                <b>5 DJs:</b>
                <p>
                    Um para cada estilo musical. Eles são os mestres das 
                    pick-ups e garantirão que a música nunca pare de tocar.
                </p>
            </li>
        </ul>
    </div>
</section>
<section id="warnings">
    <p>
        Evento somente para <b>maiores de 18 anos</b>. 
    </p>

    <p>
        É obrigatória a apresentação do documento de identidade original na porta.
    </p>

    <p>
        <b>Proibido</b> qualquer tipo de discriminação, preconceito, violência e consumo 
        de drogas ilícitas dentro da festa. 
    </p>

    <p>
        Espaço sujeito à lotação.
    </p>
</section>
<section id="location">
    <h1>LOCALIZAÇÃO</h1>
    <p>
        R. Mourato Coelho, 838
        Vila Madalena, São Paulo - SP
        CEP 05417-00
    </p>
    <div id="map-container">
        <iframe
            id="map" 
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14628.90855626934!2d-46.6897723!3d-23.5602844!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce570d9f3f05bf%3A0xc83ed0c20170da84!2sSupra%20Bar%20Vila%20Madalena!5e0!3m2!1spt-BR!2sbr!4v1697833227696!5m2!1spt-BR!2sbr" 
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
    </div>
</section>
<section id="tickets">
    <div>
        <h1>LOTES</h1>
        <p>selecione o lote que deseja comprar</p>
    </div>
    <app-tickets></app-tickets>
</section>
<app-footer></app-footer>