<header>
    <app-navigation-menu></app-navigation-menu>
</header>
<section id="event-basic-info">
    <h1>Vibrações Urbanas</h1>
    <h2>Supra Bar Vila Madalena</h2>
    <div id="date-time">
        <p>Domingo, 19/11/2023, das 17h às 01h</p>
    </div>
</section>
<section id="purchase-ticket">
    <h1>Ingressos a partir de: R$15</h1>
    <p>pague com pix</p>
    <a href="/evento/vibracoes-urbanas/#batches"><button>COMPRAR INGRESSOS</button></a>
    <a href="/evento/vibracoes-urbanas/#batches">ver lotes</a>
</section>
<section id="description">
    <p>
        Se você está procurando por algo completamente diferente, 
        prepare-se para uma revolução musical na Vila Madalena!
    </p>
    <p>
        Nossa festa temática no estilo underground é uma celebração 
        da cultura do rap, hip-hop, Black music, Afrobeat, Techno e músicas dos anos 2000.
    </p>
    <h1>ATRAÇÕES ESPECIAIS</h1>
    <ul>
        <li>
            <b>Caroline Soares e Bizuzo:</b> Dois dançarinos de dança urbana que irão 
            energizar a pista de dança com seus movimentos impressionantes.
        </li>
        <li>
            <b>5 DJs:</b> Um para cada estilo musical. Eles são os mestres das 
            pick-ups e garantirão que a música nunca pare de tocar.
        </li>
    </ul>
</section>
<section id="warnings">
    <p>
        Evento somente para <b>maiores de 18 anos</b>. 
    </p>

    <p>
        É obrigatória a apresentação do documento de identidade original na porta.
    </p>

    <p>
        <b>Proibido</b> qualquer tipo de discriminação, preconceito, violência e consumo 
        de drogas ilícitas dentro da festa. 
    </p>

    <p>
        Espaço sujeito à lotação.
    </p>
</section>
<section id="location">
    <h1>LOCALIZAÇÃO</h1>
    <p>
        R. Mourato Coelho, 838
        Vila Madalena, São Paulo - SP
        CEP 05417-00
    </p>
    <div id="map-container">
        <div id="map">
            <app-map [coord]="[-46.6923472, -23.5602844]"></app-map>
        </div>
    </div>
</section>
<section id="batches">
    <h1>LOTES</h1>
    <p>selecione o lote que deseja comprar</p>
    <app-batches></app-batches>
</section>
<app-footer></app-footer>