<footer>
    <section id="advertise-here">
        <p>Promova seu evento através de nossa plataforma, em breve!</p>
    </section>
    <section id="social-medias">
        <p>Fique por dentro das novidades da Revancce em nossas redes sociais!</p>
        <div id="links">
            <a href="https://www.instagram.com/revancce/"><img src="../../assets/instagram-white.png" alt="instagram"></a>
            <a href=""><img src="../../assets/twitter-white.png" alt="twitter"></a>
        </div>
    </section>
    <section id="footer-info">
        <div>
            <h1>Informações e contato</h1>
            <p>contato@revancce.com</p>
            <p>(11) 9 4045-2258</p>
            <p>52.054.201/0001-75</p>
        </div>
        <div>
            <h1>Anuncie aqui</h1>
            <p>Anuncie seu evento na nossa plataforma!</p>
        </div>
    </section>
</footer>