footer {
    color: white;
    font-size: medium;
    // background-image: linear-gradient(#8b0527, #000000);
}

footer > * {
    display: flex;
    padding: 5%;
    align-items: center;
    justify-content: space-around;
}

#advertise-here {
    background-color: #690820;
    font-weight: bold;
}

#social-medias {
    background-color: #500518;
}

#social-medias #links {
    display: flex;
    justify-content: center;
}

#social-medias #links img {
    margin: 0 4vw;
    height: 5vh;
}

#footer-info {
    background-color: #490012;
}

#footer-info div {
    margin: 2% 5%;
}

#footer-info div * {
    margin-bottom: 5%;
}

#developed-by {
    background-color: #160006;
}

h1 {
    font-size: medium;
    font-weight: bold;
}