<footer>
    <section id="advertise-here">
        <p>
            A Revancce está evoluindo para contribuir no mercado da promoção e 
            administração de eventos. Em breve, você poderá contar conosco para 
            promover e gerenciar seus eventos. Fique ligado para atualizações!
        </p>
    </section>
    <section id="social-medias">
        <p>
            Conecte-se conosco e mantenha-se atualizado das novidades por meio de nossas redes sociais! 
        </p>
        <div id="links">
            <a href="https://www.instagram.com/revancce/"><img src="../../assets/instagram-white.png" alt="instagram"></a>
            <a href=""><img src="../../assets/twitter-white.png" alt="twitter"></a>
            <a href="https://api.whatsapp.com/send?phone=5511940452258"><img src="../../assets/whatsapp-white.png" alt="whatsapp"></a>
        </div>
    </section>
    <section id="footer-info">
        <div>
            <h1>Informações e contato</h1>
            <p>contato@revancce.com</p>
            <p>(11) 9 4045-2258</p>
            <p>52.054.201/0001-75</p>
        </div>
        <div>
            <h1>Quer se tornar um anunciante de eventos pela Revancce?</h1>
            <p>
                Seja um dos pioneiros a promover seus eventos em nossa plataforma. Nossa equipe 
                está trabalhando para ajudá-lo a alcançar um público maior, impulsionar 
                o sucesso dos seus eventos e facilitar a venda e compra de ingressos.
            </p>
        </div>
    </section>
    <section id="end">
        <h1>
            Fique por dentro dos melhores eventos de São Paulo!
        </h1>
        <p>
            A Revancce deseja se tornar seu guia confiável para descobrir os rolês mais 
        convenientes do estado para você!
        </p>
    </section>
</footer>