<footer>
    <section id="advertise-here">
        Anuncie os eventos da sua empresa aqui, em breve!
    </section>
    <section id="social-medias">
        Conecte-se com a Revancce pelas redes sociais:

    </section>
    <section id="footer-info">
        <div>
            <h1>Informações e contato</h1>
            <p>contato@revancce.com</p>
            <p>(11) 9 9999-9999</p>
            <p>52054201000175</p>
        </div>
        <div>
            <h1>Anuncie aqui</h1>
            <p>Anuncie seu evento na nossa plataforma!</p>
        </div>
    </section>
    <section id="developed-by">
        <p>Desenvolvido por: Guilherme de marchi</p>
    </section>
</footer>