#main-events {
    text-align: center;
}

#main-events h1 {
    position: relative;
    top: -2vh;

    font-size: xx-large;
    font-weight: bolder;
    color: #910811;
}

#main-events #banner {
    width: 100%;
    height: 50vh;

    background-image: url("../../assets/event-1.jpeg");
    background-position: center; 
    background-size: cover;
}

#main-events #description {
    display: flex;
    justify-content: space-between;
    margin: 2vh 8vw;

    font-size: medium;
    font-weight: 500;
    color: #56070c;
}

#search-section {
    // position: relative;
    // top: -4vh;
    margin: 5% 0;
    text-align: center;
}

#search-bar {
    width: 80vw;
    height: 8vh;
    padding: 0 20px;
    margin-bottom: 2vh;
    
    font-size: medium;
    color: #56070c;
    border: none;
    border-radius: 15px;
    box-shadow: 0 2px 5px #56070ccc;
}

// #search-icon {
//     position: absolute;
//     top: 15%;
//     right: 10%;
//     height: 4vh;
//     background-color: white;
// }

#category-search {
    font-size: medium;
    color: #56070c;
    text-decoration: underline;
}