<app-navigation-menu></app-navigation-menu>
<section id="main-events">
    <a routerLink="evento/vibracoes-urbanas" routerLinkActive="active">
        <div id="banner">
            <p>clique para acessar o evento</p>
        </div>
    </a>
    <div id="description">
        <h1>Vibrações Urbanas</h1>
        <p>DOM, 19 NOV - 17h às 01</p>
        <p>Supra Bar</p>
    </div>
</section>
<section id="search-section">
    <input type="text" name="search-bar" id="search-bar" placeholder="Encontre um evento...">
    <!-- <img id="search-icon" src="../../assets/search-icon.png" alt="search"> -->
    <p id="category-search">Ou pesquise por categoria</p>
</section>
<app-footer></app-footer>