<app-navigation-menu></app-navigation-menu>
<section id="main-events">
    <h1>Vibrações Urbanas</h1>
    <a routerLink="evento/vibracoes-urbanas" routerLinkActive="active"><div id="banner"></div></a>
    <div id="description">
        <p>DOM, 16 NOV - 22:00</p>
        <p>Supra Ba</p>
    </div>
</section>
<section id="search-section">
    <input type="text" name="search-bar" id="search-bar" placeholder="Encontre um evento...">
    <!-- <img id="search-icon" src="../../assets/search-icon.png" alt="search"> -->
    <p id="category-search">Ou pesquise por categoria</p>
</section>
<app-footer></app-footer>