p {
    font-size: large;
    line-height: 3vh;
}

h1 {
    font-size: xx-large;
    font-weight: bolder;
}

.batch-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vh;
}

.batch-info-closed {
    background-color: rgb(218, 218, 218);
    color: #949494;
}

.batch-info-opened {
    background-color: white;
    color: #56070c;
}